/src/generated
.metadata
.project
.classpath
.settings
.history
.idea/
*.iml
*.ipr
*.iws
/out/
*/out/
.gradle
*.class
*.jar
!gradle-wrapper.jar
*.war
*.ear
hs_err_pid
/bin
*/bin
/.settings
/build
/target
*/build
*/target
cucumber-logs*
.DS_Store
/.gradle/
